<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yizisu.playerlibrary">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <activity
            android:name=".activity.FullScreenVideoActivity"
            android:configChanges="screenSize|orientation|uiMode|keyboard|keyboardHidden|density|screenLayout"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="rtmp" />
                <data android:scheme="content" />
                <data android:mimeType="video/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/mp4" />
                <data android:mimeType="*/rmvb" />
                <data android:mimeType="*/avi" />
                <data android:mimeType="*/mkv" />
                <data android:mimeType="audio/x-pn-realaudio" />
            </intent-filter>
        </activity>
    </application>

</manifest>